.mainpage{ padding-bottom: 3.5em;}
/*flash*/
.flash{ position: relative; height: auto; }
.swiper-container{height: auto; }
.swiper-slide{ width: 100%; }
.flash_img{ height: 10.6em;}
.swiper-slide img{  width: 100%; height: 100%; overflow: hidden;}
.slide_item{ background: #fff;}

.wrap_note{ background: #fff; padding: 0 0.6em; height:28px ; border-bottom: 1px solid #F5F5F5;}
.note_listbox{ }
.note_item{line-height:28px; }
.wrap_mainnav{ background: #fff; padding: 0.6em 0;}
.index_navimg{ width: 3em;}
.block_nav{ margin-top: 0.5em; background: #fff; padding: 0.5em 0.6em; color: #ff8a4c;}
.nav_line{ background: #ff8a4c; width: 3px; margin-right: 0.4em;}
.block_nav02{ margin-top: 0.5em; background: #fff; padding: 0.5em 0.6em; color: #879dff;}
.nav_line02{ background: #879dff; width: 3px; margin-right: 0.4em;}
.block_nav04{ margin-top: 0.5em; background: #fff; padding: 0.5em 0.6em; color: #028bfd;}
.nav_line04{ background: #028bfd; width: 3px; margin-right: 0.4em;}
.block_nav03{ margin-top: 0.5em; background: #fff; padding: 0.5em 0.6em; color: #ff655d;}
.nav_line03{ background: #ff655d; width: 3px; margin-right: 0.4em;}

.free_list{ background: #fff; padding: 0.5em 0.6em 0 0.6em;}
.free_item{ padding-bottom: 0.4em; margin-bottom: 5px; }
.free_img img{ width: 100%; border-radius: 5px;height: 5.4em; margin-bottom: 4px;}
.free_listL{ padding-right: 0.3em;}
.free_listR{ padding-left: 0.3em;}
.free_title{ padding: 0 0.4em;}

.fine_list,.news_list{ background: #fff;}
.fine_item,.news_item{ padding: 0.5em 0.6em; border-bottom: 1px solid #efefef;}
.fine_img img,.news_img img{ width: 5.8em; height: 3.8em; border-radius: 5px;}
.fine_right,.news_right{ margin-left: 0.6em;}
.track_img{ width: 1.1em; margin-right: 3px;}












